.horizontal{
    height: 15em;
       width: 35em;
  border-radius: 10px;
  margin-top: 2em;
}
.women{
    background-color: pink;
    color: white;
    height: 3em;
    width: 7em;
}
.men{
    height: 3em;
    width: 7em;
}
.vertikal{
    height: 33em;
    width: 15em;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 2em;
}
.img{
    height: 33em;
    width: 15em;
}
.div-down{
    height: 23em;
      width: 15em;
       border-radius: 10px;
     margin-top: 3em;
      margin-left: 2em;
}
.img-down{
    height: 22em;
    width: 15em;
}
.yllka {
    width: 220em;
    display: flex;
    justify-content: space-between;
    height: 2em;
}
.left-navbar {
    height: 59em;
    width: 20em;
    border-right: 1px solid rgba(128, 128, 128, 0.211);
}
.posht {
    bottom: -32em;
    position: relative;
    text-align: center;
    color: grey;
}
.paragraf{
    color: grey;
    width: 7em;
}